<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let photo of photos">
        <td>{{ photo.id }}</td>
        <td>{{ photo.filename}}</td>
        <td><a href="mailto:{{ photo.text }}">{{ photo.text }}</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
